html{
	background: #333333;
	padding: 0;
	margin: 0;
	font-family: 'Inconsolata', ;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: #C6A884;
}
a:hover{
	text-decoration: none;
	color: #FDF1DB;
}
#content{
	text-align: center;
	margin-top: 260px;
          /* margin-right: 10px; */
}
ul{
	display: inline-block;
	padding: 5px;
}